APP_NAME="KRC CMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack


# Firebase configuration for KR Crew Booking System
FIREBASE_API_KEY=AIzaSyAM-6AFg4Bl55tdy3T5-YLtTefrHW_6QVs
FIREBASE_AUTH_DOMAIN=kr-crew-system.firebaseapp.com
FIREBASE_PROJECT_ID=kr-crew-system
FIREBASE_STORAGE_BUCKET=kr-crew-system.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=289830598226
FIREBASE_APP_ID=1:289830598226:web:b5c83df86b828a1a89d18b